body {
    background-color: rgb(173, 173, 173);
}

h2.introduction {
    font-style: italic;
}

p.introduction{font-family: fantasy;

}
img.introduction{
    width: 100%;
    border: 0.1em solid red;
}